/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 */

$max-width: 1000px;
$gutter: 30px;

header,
.preface,
.content-wrapper,
footer {
  clear: both;
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 ($gutter / 2);
}

.region-branding,
.region-menu {
  float: left;
  width: 100%;
}

#content,
.region-sidebar-first,
.region-sidebar-second {
  margin-bottom: $vert-spacing * 1.5;
}

@media all and (min-width: $tab) {

  .two-sidebars {
    #content {
      float: left;
      padding-right: $gutter;
      width: 67%;
      &:after {
        @include clear-it;
      }
    }

    .region-sidebar-first {
      float: left;
      width: 33%;
    }
    .region-sidebar-second {
      float: left;
      width: 33%;
    }
  }

}


@media all and (min-width: $desk) {

  .region-branding {
    width: 33%;
  }

  .region-menu {
    width: 67%;
  }

// two sidebars, one on either side of content
.two-sidebars {
  #content {
    float: left;
    margin-left: 25%;
    padding-right: $gutter;
    width: 50%;
    &:after {
      @include clear-it;
    }
  }

  .region-sidebar-first {
    clear: none;
    float: left;
    margin-left: -75%;
    padding-right: $gutter;
    width: 25%;
  }
  .region-sidebar-second {
    float: left;
    width: 25%;
  }
}

// one sidebar, sidebar first
.one-sidebar.sidebar-first {
  #content {
    float: left;
    margin-left: 33%;
    padding-right: $gutter;
    width: 67%;
    &:after {
      @include clear-it;
    }
  }
  .region-sidebar-first {
    clear: none;
    float: left;
    margin-left: -100%;
    width: 33%;
    padding-right: 30px;
  }
}

// one sidebar, sidebar second
.one-sidebar.sidebar-second {
  #content {
    float: left;
    padding-right: 30px;
    width: 67%;
    &:after {
      @include clear-it;
    }
  }
  .region-sidebar-second {
    clear: none;
    float: left;
    width: 33%;
  }
}

}
