// views styles

.not-front .view {
  padding: 20px 30px;
}

.view .row {
  border-bottom: 1px solid lighten($base-color, 15%);
  margin-bottom:  $vert-spacing * .5;
  padding-bottom:  $vert-spacing * .5;
  p:last-child {
    margin-bottom: 0;
  }
}

.view .row.last {
  border-bottom: none;
}

.uc-catalog-terms td,
.uc-catalog-terms td span {
  color: $white;
}

.view-uc-catalog td a:link,
.view-uc-catalog td a:visited,
.view-uc-catalog td a.active,
.uc-catalog-terms  td a:link,
.uc-catalog-terms td a:visited,
.uc-catalog-terms td a.active, {
  color: $white;
}

.view-uc-catalog input[type="submit"] {
  border: 2px solid lighten($accent, 15%);
}

.view-front-feature img {
  display: block;
}

// product listing view

.view-product-listing  table tbody > tr:nth-child(odd) > td,
.view-product-listing  table tbody > tr:nth-child(odd) > th {
  background-color: transparent;
}

.view-product-listing  table tbody > tr:nth-child(even) > td,
.view-product-listing  table tbody > tr:nth-child(even) > th {
  background-color: transparent;
}

.view-product-listing {
  tr {
    border-bottom: 1px solid lighten($base-color, 15%);
    &:last-child {
      border-bottom: none;
    }
  }
  td {
    padding-left: 0;
    vertical-align: bottom;
  }
}
